[submodule "AbortControllerTest"]
	path = AbortControllerTest
	url = https://github.com/furfur-jiang/AbortControllerTest.git
[submodule "iframeTest"]
	path = iframeTest
	url = https://github.com/furfur-jiang/iframeTest.git
[submodule "qiankun_test"]
	path = qiankun_test
	url = https://github.com/furfur-jiang/qiankun_test.git
[submodule "cli"]
	path = cli
	url = https://github.com/furfur-jiang/cli.git
